@model IEnumerable<Category>

@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "View Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div>
    <a class="btn btn-primary" href="/Admin/Category/Create">Create</a>
</div>
<br />

<table class="table table-hover w-100">
    <thead class="text-bold">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
    </thead>
    @foreach(var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.Description</td>
            <td>@category.CreatedTime</td>
            <td>
                <a class="btn btn-success" href="/Admin/Category/Edit/@category.Id">Edit</a>
                <a class="btn btn-danger" href="/Admin/Category/Delete/@category.Id">Delete</a>
            </td>
        </tr>
    }
</table>